<!DOCTYPE HTML>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Просмотр заявок</title>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>


    <link rel="stylesheet" th:href="@{/css/styles.css}" />

<body>
<div class="container">
<h1 class="mb-4 text-center">Список заявок</h1>
<div class="table-responsive">
<table class="table table-striped table-hover align-middle">
<thead class="table-dark">
<tr>
<th>ID</th>
<th>ФИО</th>
<th>Телефон</th>
<th>Telegram</th>
<th>Действия</th>
</tr>
</thead>
<tbody>
<tr class="extracted-style-2" onclick="toggleDetails([[${app.id}]])" th:each="app : ${applications}" th:id="'row-' + ${app.id}">
<td th:text="${app.id}"></td>
<td th:text="${app.FIO}"></td>
<td th:text="${app.phoneNumber}"></td>
<td th:text="${app.telegram}"></td>
<td>
<a th:href="@{'/application/edit/' + ${app.id}}">
<button class="btn btn-black btn-sm me-2" type="button">Редактировать</button>
</a>
<a onclick="return confirm('Удалить заявку?')" th:href="@{'/application/delete/' + ${app.id}}">
<button class="btn btn-black btn-sm" type="button">Удалить</button>
</a>
</td>
</tr>
<!-- Если нужны детальные строки для раскрытия, вставьте их здесь с id="details-{{app.id}}" -->
</tbody>
</table>
</div>
<a class="btn-back" href="/">← Назад</a>
</div>
<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
