<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> th:text="${title}"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="|Привет, ${title}!|" />
    <a class="p-2 text-dark" href="/item/add">Добавить товар</a> <br>
    <a class="p-2 text-dark" href="/application/add">Сделать заказ</a> <br>
    <a class="p-2 text-dark" href="/application/show">Посмотреть заказы</a> <br>

    <script>
        const jwt = localStorage.getItem("jwt");
        if (jwt) {
            document.write("<p>Вы вошли как менеджер.</p>");
            document.write('<a href="#" onclick="logout()">Выйти</a>');
        } else {
            document.write("<p>Вы гость. <a href='/manager/login'>Войти</a></p>");
        }

        function logout() {
            localStorage.removeItem("jwt");
            location.reload();
        }
    </script>

</body>
</html>