target/ ##игнор папки таргер
.git/  ##игнор папки гит
*.iml  ##игнори имл файлов для настройки модуля
.idea/ ##игнор файлов для идеа где настройки проекта
*.log  ##игнор всех файлов с расширением лог которые генеряца приложением